* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mallanna', sans-serif;
}
/*-------Navigation Styles----------*/
.nav_section {
    background-color: white;
    padding: .5rem 3rem;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.301);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1500px;
    margin: auto;
    align-items: center;
}

.logo_container {
    display: flex;
}
#name {
    background: white;
    color: #1ab394;
}
.logo_container a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 0 .75rem;
    background-color: #1ab394;
}

.nav_links {
    display: flex;
    justify-self: end;
}
.nav_links a {
    text-decoration: none;
    color: #1ab394;
    padding: .10rem .5rem;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.nav_links a:hover {
    background-color: #eee;
}
.nav_links li {
    list-style-type: none;
}

/*-------Header Styles----------*/
.header_section {
    background: linear-gradient(180deg, #1AB394 0%, #B391AD 86.69%), #FFFFFF;
    padding: 5rem;
    margin-top: 1rem;
}

.header_container {
    display: grid;
    grid-template-columns: 70% 30%;
    max-width: 1500px;
    align-items: center;
    color: white;
    padding-top: 2rem;
}

.header_text {
    display: grid;
    max-width: 95%;
    margin: auto;
    box-sizing: border-box;
    padding-left: 10%;
}

.header_text h2 {
    margin: 0;
    font-size: 2rem;
}
.header_text p {
    font-size: 1.15rem;
    margin: 0;
    box-sizing: border-box;
}
.header_image img {
    max-width: 100%;
}


/*-------Services Section----------*/
.services_section {
    padding: 2rem 0rem 5rem 0rem;
}
.services_header h2 {
    text-align: center;
    color: #1AB394;
}
.s1 p {
    margin: 0;
    font-size: 1.4rem;
}
.s1 h2 {
    font-size: 2rem;
    margin: 0;
    color: #1AB394;
}
.s1 ul {
    padding: 0 0 0 1rem;
    margin: 0;
}
.slideshow_container {
    max-width: 1150px;
    padding: 2.9rem;
    margin: auto;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.109);
    border-radius: 10px;
    background-color: #f8f8f8;
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(36, 36, 36);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
      left: 0;
      border-radius: 0px 3px 3px 0px;
  }
  
  .prev:hover, .next:hover {
    background-color: #1ab39477;
  }

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 3rem;
}
.services img {
    width: 100%;
}
.s2 p {
    margin: 0;
    font-size: 1.4rem;
}
.s2 h2 {
    font-size: 2rem;
    margin: 0;
    color: #1AB394;
}
.s2 ul {
    padding: 0 0 0 1rem;
    margin: 0;
}
.dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 2px;
    background-color: #1ab3943f;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
.nav_dots {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.active, .dot:hover {
    background-color: #1AB394;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*-------Testimonial Styles----------*/
.testimonials_section {
    padding: 2rem 0rem;
}
.testimonials_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: auto;
    gap: 3rem;
}
.testimonial_link {
    padding: 1rem;
    border-radius: 10px;
    transition: box-shadow .10s;
    text-decoration: none;
}
.testimonial_link:hover {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.13);
}
.testimonial h2 {
    font-size: 1.5rem;
    color: #1AB394;
}
.testimonial p {
    font-size: 1.2rem;
    color: #1AB394;
}
.testimonial em {
    color: black;
}



/*-------Footer Styles----------*/
.footer_container {
    display: flex;
    justify-content: center;
}
.footer {
    display: flex;
    align-items: center;
}
.footer img {
    max-width: .75rem;
}
.footer p {
    margin-left: .35rem;
    color: #1AB394;
}


/*Page 2 Contact Me*/

/*-------Contact Styles----------*/
.contact_section {
    /*background: linear-gradient(180deg, #1AB394 0%, #B391AD 86.69%), #FFFFFF;*/
    background: url(contact-background.png);
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
    margin-top: 2rem;
}

.contact_container {
   text-align: center;
}

.form_header h1 {
    color: #FFFFFF;
    font-size: 3rem;
    width: 50%;
    margin: auto;
    padding: .5rem 2rem;
}

.form_wrap {
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    padding: 2rem;
    background: #ececec;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.349);
}
.form input {
    font-size: 1.3rem;
    color: rgb(44, 44, 44);
    border-radius: 5px;
    border: 1px solid rgb(122, 122, 122);
    padding: .25rem 0;
}

.fname {
    width: 100%;
}
.lname {
    width: 100%;
}
.email {
    width: 100%;
}
.phone_number {
    width: 100%;
}
.textarea {
    width: 100%;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5px;
}

.form label {
    color: #1AB394;
    font-size: 1.5rem;
}

#submit_button {
    width: 50%;
    margin: 1.5rem auto 0 auto;
    padding: .5rem;
    text-align: center;
    background-color: #1AB394;
    color: white;
    border: none;
    cursor: pointer;
}
#submit_button:hover {
    background-color: #1ab394e5;
}


/*-------Portfolio Styles---------------*/
.portfolio_section {
    background: linear-gradient(180deg, #1AB394 0%, #b391ad 86.69%);
    height: 85vh;
    padding-top: 7.5%;
}
.portfolio_img_wrap {
    max-width: 1000px;
    margin:  -5rem auto 0 auto;
}
.portfolio_section img {
    width: 100%;
    margin: auto;
}


.portfolio_header {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.portfolio_container {
   display: flex;
   flex-wrap: wrap;
   max-width: 500px;
   margin: auto;
   justify-content: ;
}
.button1 {
    width: 33.33%;
}
.button1 button {
    width: 100%;
}
.button2 {
    width: 33.33%;
}
.button2 button {
    width: 100%;
}
.button3 {
    width: 33.33%;
}
.button3 button {
    width: 100%;
}
.button4 {
    width: 50%;
    text-align: end;
}
.button4 button {
    width: 70%;
}
.button5 {
    width: 50%;
}
.button5 button {
    width: 70%;
}
.button6 {
    width: 100%;
    text-align: center;
}
.button6 button {
    width: 30%;
}
.portfolio_container div{
    padding: .5rem;
}
.portfolio_container button {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #EFEFEF;
    background-color: #EFEFEF;
    font-size: 1rem;
    color: #1AB394;
    font-weight: 600;
}
.portfolio_container button:hover {
    background-color: #1AB394;
    cursor: pointer;
    color: #EFEFEF;
    border: 1px solid #EFEFEF;
}


.portfolio_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: -0rem auto 0 auto;
    max-width: 1000px;
}
.portfolio_flex div {
    width: 30%;
    margin: 1rem auto;
    text-align: center;
    background-color: #EFEFEF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #0000007c;
    padding: 1.3rem 2rem 0 2rem;
}
.portfolio_flex div:hover {
    box-shadow: 0px 0px 1px 2px #1AB394;
    cursor: pointer;
}
.portfolio_flex h2 {
    margin: .5rem 0;
}
.portfolio_flex h3 {
    margin: .5rem 0;
}
.portfolio_flex p {
    margin: .5rem 0;
}
.project_link {
    text-decoration: underline;
    color: #1AB394;
}
.portfolio_flex img {
    width: 100%;
}
